.xs-only{display: none;}

@media screen and (max-device-width: 768px) {
	.hidden-xs{display: none}
	.xs-only{display: block;}

	header#site-header{
		padding: $paddingS 0;
		
		.logo{
			margin-bottom: 0;
			position: relative;
			z-index: 250;
			display: inline-block;
		}

		.burger-wrap{
			position: fixed;
			right: 0; top: 0;
			height: 47px;
			padding: 15px;
			z-index: 250;
			.burger{
				@include burger();
				&.active{
					@include burger-to-cross();
				}
			}
		}
		
		nav{
			display: none;
			position: fixed;
			top: 0; left: 0;
			width: 100%; height: 100%;
			background-color: $marron;
			padding: $paddingS 0;
			padding-top: 90px;
			z-index: 249;
			
			ul{
				@include flex-direction(column);
				.sub-menu{
					max-width: 100%;
					position: static;
					transform: translateX(0);
				}
				form{
					margin: $paddingS $paddingM;
					label{display: none}
					@include flexbox();
					@include justify-content(center);

					input[type=text]{
						transform: translateX(0)!important;
						opacity: 1!important;
						position: static!important;
						margin: 0 $gutter;
					}
					input[type=submit]{
						transform: translateX(0)!important;
						opacity: 1!important;
						position: static!important;
						//font-size: 2em;
					}
				}
			}
		}
	}
	
}