/* BASE VARIABLES
 *******************/

/* Sizes */
$max-width: 1800px;

/* Colors */
$text: #000000;
$links: blue;
$hover: blue;

$bg: whitesmoke;

/* Fonts */
$fontPrimary: sans-serif;
$fontS: 12px;
$fontS: 16px;
$fontM: 22px;

/* Borders */
$border: 1px solid #000;

/* PADDINGS */
$margeXS: 10px;
$margeS: 20px;
$margeM: 40px;

$gutter: $margeXS;

/* Breakpoints */
$cap: 1920px;
$m: 1024px;
$s: 768px;
$xs: 500px;